<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post *ngFor="let post of postList"
          [postTitle]="post.title"
          [postContent]="post.content"
          [postLoveIt]="post.loveIts"
          [postCreated_at]="post.created_at"></app-post>
      </ul>
    </div>
  </div>
</div>
