<div class="list-group-item" [ngClass]="{'list-group-item-success': postLoveIt > 0, 'list-group-item-danger': postLoveIt < 0}">
  <h4 class="date-creation">{{postCreated_at | date:'short' | uppercase}}</h4>
  <h2 [ngStyle]="{color: getColor ()}"> {{postTitle}}</h2>
  <p [ngStyle]="{color: getColor ()}">{{postContent}}</p>
  <button class="btn btn-success" (click)="increment()">Love it!</button>
  <button class="btn btn-danger" (click)="decrement()">Don't love it!</button>

</div>
